# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare resource files as binary
*.bmp binary
*.BMP binary
*.dds binary
*.DDS binary
*.gif binary
*.jpg binary
*.JPG binary
*.jpeg binary
*.png binary
*.PNG binary
*.hdr binary
*.heic binary
*.tga binary
*.TGA binary
*.tif binary
*.TIF binary
*.tiff binary
*.ppm binary
*.pfm binary
*.wdp binary
*.webp binary
EarthDiffuse.png filter=lfs diff=lfs merge=lfs binary
earthdiffuseTexture.PNG filter=lfs diff=lfs merge=lfs binary
Callisto.png filter=lfs diff=lfs merge=lfs binary
World8192.dds filter=lfs diff=lfs merge=lfs binary
earth16kby16k.DDS filter=lfs diff=lfs merge=lfs binary
earth16kby16k.png filter=lfs diff=lfs merge=lfs binary
earth16kby16k_snorm.DDS filter=lfs diff=lfs merge=lfs binary
